.container {
    justify-self: center;
    width: 1280px;
    background-color: antiquewhite;
}

.header {
    display: flex;
    align-items: center;      
    justify-content: center; 
    width: 100%;
    height: 66px;
    background: linear-gradient(to top, #7ca6f5, #4e7ad9);
    border-radius: 4px;
    box-shadow: 3px 3px 5px gray;
}

.title {
    margin: 0;
    font-size: 30px;
    text-align: center;
    color: #c2dbff;
    font-weight: 600;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, 
                -1px 1px 0 #000, 1px 1px 0 #000, 2px 2px 4px #00000080;
}

.navbar {
    width: 550px;
    height: 33px;
    justify-self: center;
    background: #a8c4ff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0;
    margin-top: -12px;
    border-radius: 3px;
    box-shadow: 0 2px 4px gray;
    margin-bottom: 20px;
}

.navbar a {
    display: inline-block;
    color: #003366;
    padding: 10px;
    text-decoration: none;
}

.navbar a:hover {
    color: orange;
}

.main {
    display: flex;
    border-top: #003366 1px solid;
    border-bottom: #003366 1px solid;
}

.side {
    width: 256px;
    height: 100%;
    background-color: blueviolet;
}

.content {
    width: 1020px;
    margin-left: 4px;
}

.process-text {
    width: 100%;
    height: 400px;
    background-color: yellow;
}

.drag-drop {
    width: 100%;
    min-height: 400px;
    background-color: orange;
}

.footer {
    width: 100%;
    height: 33px;
    background-color: red;
}